<!DOCTYPE html>
<html>
	<head>
		<title>Misha - Auth</title>
		<style>
			* {
				font-family: Helvetica, Arial, sans-serif;
				item-align: center;
			}
			.error {
				color: red;
			}
			.success {
				color: green;
			}
			.center {
				margin: auto;
			}.spaced {
				margin-bottom: 10px;
			}
			div {
				text-align: center;
				margin-bottom: 10px;
			}
			h1, h3 {
				text-align: center;
			}
			.button {
				display: inline-block;
			}
			form {
				display: inline-block;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<h1 class = "center spaced">Test Login Site</h1>
		<h3 class = "center spaced">by Misha Kotlik</h3>
		
		{% if status == 'GET' %}
		<div>Register or log in.</div>
		{% elif status == 'reg_OK' %}
		<div class = "success">Account created. Please log in.</div>
		{% elif status == 'reg_bad_char' %}
		<div class = "error">Username and password cannot contain ' or " or , or \ <br>
			Please try again.</div>
		{% elif status == 'reg_exists' %}
		<div class = "error">Username is taken.<br>
			Please choose another name or log in.</div>
		{% elif status == 'login_fail' %}
		<div class = "error">Incorrect username or password. Please retry.</div>
		{% else %} {# assume status='login_OK' #}
		<div class = "success">Logged in successfully.</div>
		{% endif %}
		
		{% if status != "login_OK" %}
		<center>
		<form method = "POST" action="/auth/">
			<input type="text" name="user">
			<br>
			<input type="password" name="pass">
			<br>
			<input class = "button" type="submit" name="auth_action" value="Register">
			<input class = "button" type="submit" name="auth_action" value="Login">
		</form>
		</center>
		{% endif %}
	</body>
</html>