<!DOCTYPE html>
<html>
	<head>
		<title>Misha - Log In</title>
		<style>
			* {
				font-family: Helvetica, Arial, sans-serif;
				item-align: center;
			}
			.center {
				margin: auto;
			}.spaced {
				margin-bottom: 10px;
			}
			div {
				text-align: center;
				margin-bottom: 20px;
			}
			h1, h3{
				text-align: center;
			}
		</style>
	</head>
	<body>
		<h1 class = "center spaced">Test Login Site</h1>
		<h3 class = "center spaced">by Misha Kotlik</h3>
		
		<div class = "center spaced"><span font-size="1.5em"><b>{{ user }}</b></span>, you are logged in.</h5>
		
		<center>
		<form class="center" method="POST" action="/">
			<input type="submit" name="logout" value="Log Out">
		</form>
		</center>
		
	</body>
</html>